*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(255, 253, 253);
}
.mega-box {
    display: none;
  }

  .show {
    display: block;
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #989aa3;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(109, 86, 146);
  }
  .brand {
    text-transform: uppercase;
  }
  
  .nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }
  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid white; 
    margin-left: 5px; 
}
  .mega-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mega-links li {
    
    margin-right: 50px; 
  }

  .content {
    display: flex;
    justify-content: center;
  }
  .mega-links a:hover {
    color: #f8ededfd; 
}
.nav_link:hover {
  
    color: #e8f7fc;
}
.brand {
margin-right: 40%;
  }

  .nav_toggler div {
    width: 2rem;
    height: 0.2rem;
    margin: 0.2rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in;
   
  }
  .nav_toggler{
  display: none;
  }

  @media screen and (max-width: 768px) {
    .nav_toggler {
      display: block;
      cursor: pointer;
    
    }  
    .nav_menu {
        position: fixed;
        top: 7vh;
        right: 0;
        height: 93vh;
        width: 50vw;
        background: rgb(109, 86, 146);
        flex-direction: column;
        transform: translateX(100%);
        padding-top: 185px;
        padding-bottom: 185px;
      
          }
      .nav__active {
        transform: translateX(0%);
      }
      .show {
        position: absolute;
        top: calc(50% + 2rem); /* Adjust the top value to maintain desired spacing */
        left: 0;
        width: 100%;
        padding: 20px;
        background-color: #989aa3;
        z-index: 2;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        /* This will push down the other nav-links */
        transform: translateY(-55px);
      }
      
    
      .content {
        display: flex;
        justify-content: center; 
      }
    
      .mega-links {
        display: flex;
        flex-direction: column; 
        list-style: none;
        margin: 0;
        padding: 0;
      }
    
      .mega-links li {
        margin: 5px 0; 
      }
      
}




@media screen and (min-width: 599px) and (max-width: 1059px){
    body {
        font-size: 1rem;
      }
    .brand {
        margin-right: 30%;
      }
  
  }  