
.form-body{
   
    background-image: url('https://img.freepik.com/premium-vector/realistic-wood-texture-natural-dark-brown-wooden-background-table-floor-wall-surface_390775-105.jpg');
  background-size: cover;
  background-position: center;
  }
.subscribe-form {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: none;
  
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='email'] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }
  
  button {
    background-color: #412c12;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Additional styling for the message */
 
  .form-text {
    margin-top:3%;
    margin-bottom: 3%;
    padding: 20px;
    background-color:none;
    color: #1a1515;
    font-size: 20px;
    font-weight: 420;
    
  }  